html{
    font-family:"open sans Light";
   

}


*{
    margin:0 auto;
    padding:0;
    list-style:none;
    text-decoration:none;
    outline:none;
    font-family:"open sans Light";
    
}



.header{
    
    height:124px;
    width:100%;
    background-color:rgb(35,40,45);
    display:block;
    padding-right:180px;
    padding-left:180px;
}





::placeholder{
    color:rgb(87,104,93);
    font-size:13px;
    padding-left:2px;
} 


form.search-box{
    display:flex;
    background-color:rgb(25,30,35);
    float:right;
    width:90%;
    padding:1.5px;
    padding-left:0px;
    border-radius:;
    position:relative;
    top:15px;
    margin:auto;
    max-width:300px;
    border-bottom:1px solid rgb(66, 65, 65);
}

form.search-box input[type=text]{
    flex-grow:2;
    background-color:rgb(25,30,35);
    border:none;
    color:rgb(163,163,162);
    font-size:12px;
    padding:5px;
    
}

form.search-box button{
    background:rgb(25,30,35);
    color:white;
    border:none;
    width:10%;
    outline:none;
}

form.search-box button:active{
    background-color:rgb(21, 22, 24);
}



.fab{
    font-size:50px;
}

.logo{
    display:inline-flex;
    flex-wrap:wrap;


    color:rgb(204,207,211);
    cursor:pointer;
}

.logo span{

    font-family:serif;
    font-variant:small-caps;
    font-size:36px;
    
} 




.top-header{
    position:relative;
    top:20px;
}

.bottom-header{
    display:inline-flex;
    position:relative;
    top:26px;
   
}


.bottom-header button{
   height:36px;
    position:relative;
    left:199px;
    border-radius:2.5px;
   background-color:rgb(41,133,186);

   
 
    
} 

.bottom-header button, .get-started button:hover, .bottom-header button:hover{
    background-color:rgb(32, 146, 212);
}


.bottom-header button  span{
    font-size:12px;
    padding:10px;
   
 }


.navbar ul li{
    display:inline;
   
}

.navbar ul li a{
    color:rgb(231,231,211);
    font-size:12px;
    font-weight:600;
    text-decoration:none;
    margin-right:20px;
}

.navbar ul li a:hover{
    color:rgb(65, 163, 224);
}


.intro-section-1{
    text-align:center;
    height:295px;
    background-color:rgb(29,115,170);
    color:rgb(255, 255, 255);
    
}

.intro-section-1 .first{
    font-size:69px;
    /* font-family:"Open Sans light"; */
    
}

.intro-section-1 .second{
    font-size:24px;
    /* font-family:"Open Sans light"; */
}

.intro-section-1 .together{
    padding:53px;
}

.intro-section-2{
    text-align:center;
    /* font-family:"Open sans light"; */
}


.intro-section-2 .first{
    padding-top:65px;
}


.intro-section-2 .text{
    padding-top:65px;
}


.container{
    height:382px;
    width:800px;
    
    text-align:center;
    overflow:hidden;
}

.container .dashboard-mobile{
    height:350px;
    width:180px;
    position:relative;
    float:right;
    right:50px;
    top:100px
}

.container .dashboard{
    object-fit:cover;
    max-width:800px;
    position:relative;
    left:70px;
    z-index:-1;
}


.parallax-bg{
    background:url("https://s.w.org/images/home/collage-min.jpg?6") center top;
    
    background-attachment:fixed;
    width:100%;
    height:600px;
    background-size:cover;
    
 
  
}

.discover{
    text-align:center;
    padding-top:60px;
    padding-bottom:50px;
    font-size:18px;
}



.iconify{
    display:block;
    font-size:50px;
    /* padding-top:50px; */
    color:rgb(0,160,210);
}

.features{
    text-align:center;
    font-family:"open sans light";
    color:rgb(50, 55,60);
}



.features ul{

    padding-top:50px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:stretch;
    align-content:center;
    
    /* margin:0 176px; */
    width:840px;
    /* border:1px solid black; */
    height:400px;
    
}


.features ul li{
    border-right:1px solid rgb(238,238,238);
    border-bottom:1px solid rgb(238,238,238);
   width:25%;
    height:200px;
   display:flex;
   flex-direction:column;
   align-items:center;
    padding-top:50px;
}



.features ul li:nth-child(n+5){
    border-bottom:none;
}

.features ul li:nth-child(4n){
    border-right:none;
}


.text-after-features{
    padding-top:70px;
    padding-bottom:40px;
    font-size:18px;
}


.screen{
    background:linear-gradient(rgba(0, 0, 0,0.5),rgb(0, 0, 0,0.5)),url("https://s.w.org/images/home/community-2.jpg?3");
    height:500px;
    color:white;
    font-family:"Open sans light";

}


.screen .container span{
  
    font-size:50px;
}

.screen .container{
   
    text-align:left;
    position:relative;
    top:250px;
    padding-left:120px;
    

}

.screen .container button{
   
    font-size:15px;
    text-align:center;
    background-color:white;
    width:268px;
}

.screen .container span, .subheading button{
    padding-top:40px;
    
}

.screen .container .subheading{
    font-size:20px;
    padding-top:20px;
}

.get-started{
    text-align:center;
    border-bottom:1px solid rgb(228, 215, 215);
    height:400px;
}

.get-started button{
    height:44px;
    border-radius:2.5px;
    background-color:rgb(29,115,170);
    border:0px solid white;
    position:Relative;
    top:50px;    

}


.get-started button span{
    padding:10px 30px;
    font-size:18px;
    color:white;
}


.heading{
    font-size:44px;
    color:rgb(50, 55,60);
    padding-top:60px;
    padding-bottom:20px;
    font-family:"Open Sans light";
}

.h_subheading{
    color:rgb(153,151,150);
    font-size:23px;
    padding-bottom:20px;
    
    font-family:"Open Sans light";
    
}



 .footer1{
  padding-top:100px;
  
    display:grid;
    grid-template-columns:1fr 1.5fr 1.5fr 1fr;
    grid-column-gap:3em;
  }


  .footer1 a:hover{
    color:rgb(255, 89, 0);
  }
  .topic5,.topic6,.topic7,.topic8{
      border-top:1px solid rgb(201, 191, 191);
     

  }

  .topic2,.topic3{
    position:relative;
    right:50px;
  }


  
  .topic1,.topic4{
      position:relative;
      right:5px;
  }

  .topic3{
      position:relative;
      right:80px;
      font-weight:900;
     
  }

  .topic5,.topic6{
      font-size:13px;
  }
  
  .footer1 div{
      padding-top:0.5em;
      font-family:sans-serif;
      color:rgb(111, 108, 108);
  }
  
  .footer1 div a{
  
    text-decoration:none;
    font-weight:900;
  }
  
  .footer1 div.topic7 
  {
    display:grid;
    grid-template-rows:.5fr .5fr .5fr;
  }
  
  
  .footer1 div.topic7 div.stepone, .steptwo,.stepthree{
    font-size:13px;
  }
  

  .topic8{
    display:grid;
    grid-template-rows:.5fr .5fr .5fr;
    grid-row-gap:0.5em;
  
    
  }
  
  
  .topic8 img{
    height:60px;
    width:130px;
    cursor:pointer;
  }
  
  .topic8 div{
    box-shadow:1px 1px 1px rgb(184, 176, 176);
    border:.1px solid rgb(254, 244, 244);
    
  }
  
  .stepone,.steptwo,.stepthree{
    display:flex;
   
  }

  
  .footer1 div.topic7 div.step-numb{
    text-align:center;
    background-color:rgb(203,203,203);
    box-shadow:2px 2px 4px grey;
    border-bottom:2px solid white;
    border-right:2px solid white;
    border-left:none;
    border-top:none;
    font-size:15px;
    width:60px;
    height:30px;
    border-radius:80px;
  
    margin-right:8px;
    color:white;
    
  }
  

  .step-numb2,.step-numb3
  {
    color:white;
    text-align:center;
    background-color:rgb(203,203,203);
    box-shadow:2px 2px 4px grey;
    border-bottom:2px solid white;
    border-right:2px solid white;
    border-left:none;
    border-top:none;
    font-size:15px;
    width:90px;
    height:33px;
    border-radius:80px;
    margin-right:8px;
    
  }
   


  .footer2{
       
    /* border:1px solid black; */
      display:grid;
      grid-template-columns:repeat(6,1fr);
      font-size:13.5px;
      font-weight:bold;
      color:rgb(30, 146, 218);
    
     
    
   
      
  }
  

  .footer2 div.column1,div.column2,div.column3,div.column4,div.column5,div.column6{
      display:grid;
      grid-template-rows:1fr 1fr 1fr ;
      grid-row-gap:2px;


  }

  .footer1,.footer2{
    margin:0px 170px;
  }
  

  .footer2-bg{
      border-top:1px solid rgb(220, 219, 219);
      width:100%;
      background-color:rgb(245, 244, 244);
      margin:0;
      margin-top:60px;
      padding-top:18px;
      padding-bottom:40px;
  }
  
